
html, body {
    height: 100%;
    overflow: hidden;
}


.centered_menu {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#menu {
    display: flex;
}

.aligned {
    width: 200px;
    text-align: center;
}



.color {
    background-color: lightblue;
}

.content iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
}
