html, body {
    overflow: hidden;
}

.topnav {
    display: flex;
    position: absolute;
}

.option {
    color: #99291F;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    min-width: 300px;
} 

.option:hover {  
    color: #000000; 
    background-color: #E68555;
}

.option:active {  
    color: #000000; 
    background-color: #33201F;
}

.option-container{
    position: relative;
    display: inline-block;
}

.content iframe {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    }