@media only screen and (min-width: 768px){


.medium-6{
    width: 50%;
}

.medium-4{
    width: 33.333333%;
}

header h1{
    font-size: 2.3rem;
  }

header h2{
    font-size: 1.24rem;
}

header img{
    height: 90px;
  }



nav button{
    display: none;
}

nav ul{
    display: block;
}

nav li{
    float: left;
    width: 25%;
}

} /* end of media query*/

