body {
    background-color: lightblue;
    
}

th {
    color: red;
}

h4 {
    color: blue;
    text-align: center;
}



html {
    scroll-behavior: smooth;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}